<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- HTTP 1.1 -->
  <meta http-equiv="pragma" content="no-cache">
  <!-- HTTP 1.0 -->
  <meta http-equiv="cache-control" content="no-cache">
  <!-- Prevent caching at the proxy server -->
  <meta http-equiv="expires" content="0">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
  <title>Your App</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
