.body{
  padding: 10px 0 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.input{
  width: 137px;
  margin-right: 22px;
}

.item{
  margin-bottom: 20px;
}

.inputItem{
}
.name{
  color: #fff;
  margin-right: 11px;
  width: 95px;
  text-align: right;
  display: inline-block;
}

.button{
  margin-right: 20px;
}

.buttons{
  margin-top: 30px;
  margin-left: 166px;
}

.coordinate{
  color: #fff;
}

.coordinateAnt{
  color: #fff!important;
  margin-left: 217px;
}

.tab{
  color: #fff;
}

.symbolTip{
  color: goldenrod;
  color: chartreuse;
}

.radioName{
  display: inline-block;
  width: 64px;
  text-align: right;
  margin-right: 13px;
}

.radioStyle{
  color: #fff;
  display: block;
  height: 30px;
  lineHeight: 30px;
  margin-bottom: 20px;
}

.tabContent{
  height: 100px;
  margin-left: -40px;
}

.tabContent1{
  height: 100px;
  margin-left: 43px;
}

.line{
  display: inline-block;
  width: 22px;
  text-align: center;
}
.inputNumberItem{
}

.inputTip{
  color: #999;
  font-size: 12px;
}
.inputTip1{
  color: #999;
  font-size: 12px;
  margin-left: 4px;
}
.inputTipType{
  display: inline-block;
  width: 100px;
  text-align: left;
}
.inputTipPostion1{
  display: inline-block;
  width: 100px;
  text-align: left;
}
inputTipPostion2{
  display: inline-block;
  width: 100px;
  text-align: left;
}

