.body{
  padding: 40px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.input{
  width: 137px;
  margin-right: 22px;
}

.item{
  margin-bottom: 20px;
}

.inputItem{
  margin-right: 20px;
}
.name{
  color: #fff;
  margin-right: 5px;
  width: 110px;
  text-align: right;
  display: inline-block;
}

.button{
  margin-right: 20px;
}

.buttons{
  margin-top: 30px;
  margin-left: 239px;
}

.coordinate{
  color: #fff;
}

.coordinateAnt{
  color: #fff!important;
  margin-left: 283px;
}
