.body{
  padding: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: inline-block;
}

.url{
  width: 360px;
  padding-top: 10px;
}
.itemName{
  display: inline-block;
  text-align: right;
  margin-right: 20px;
  width: 112px;
  font-weight: bold;
}
.urlInputCss{
  width: 180px;
}
.partTips{
  display: inline-block;
  width: 180px;
  text-align: left;
}
.partPannel{
  text-align: left;
  margin-left: 53px;
  margin-top: 20px;
}
.buttons{
  margin-top: 30px;
  margin-left: 139px;
}
.button{
  margin-right: 20px;
}
.rect{
  border: 1px solid #999;
}
