.body{
  padding: 10px 0 33px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.tabLeft{
  width: 60px;
  height: 100px;
  background-color: #096dd9;
}
.button{
  position: fixed;
  right: 100px;
  bottom: 30px;
  z-index: 999;
}
