.body{
  padding: 10px 0 33px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.emoji{
  width: 100px;
  margin: 0 auto;
}
.demo{
  width: 600px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.title{
  width: 600px;
  margin: 0 auto;
  position: fixed;
  right:0px;
  left:0px;
}

.whale{
  width: 600px;
  position: fixed;
  left:-130px;
  bottom: 20px;
}

