.body{
  padding: 10px 0 33px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow:hidden
}

.root{
  background-color: #ffffff;
  box-sizing: border-box;
  /* min-height: 100vh; */

  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x:auto ;
}

.column{
  margin: 0 16px;
}

.verticalScrollContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* background: rgba(0, 0, 0, 0.1); */
  /* padding: 16px; */
  /* max-height: 800px;
  overflow: auto; */
}

.treeBook{
  width: 20%;
  /* padding: 16px 0 16px; */
  float: left;
}

.list{
  width: 80%;
  float: left;
  /* padding-top: 16px; */
}
.listCnt{
  overflow: auto
}

.treeBookWrap{
  /* margin-top: 16px; */
  max-height: 700px;
  overflow-y:auto;
}

h3{
  color: #4A4A4A;
  margin-bottom: 16px;
  padding-top: 20px!important;
}

.top{
  position: fixed;
  top:14px;
  left:30%;
}

.topFixed{
  padding-top: 45px;
  margin-bottom: 16px;
  height: 32px;
}

.marginLeft{
  margin-left: 20px;
}

.doButton{
  display: inline-block;
  margin-left: 52px;
}

.bottom{
  width: 100%;
  position: fixed;
  bottom:0px;
  left: 0;
  height: 60px;
  background: #f4f5f9;
  background-color: rgba(244,245,249, 0.3);
}

.input{
  width: 260px;
  display: inline-block;
}

.logo{
  font-size: 20px;
  position: fixed;
  bottom:13px;
  left: 60px;
}

.inputDist{
  display: inline-block;
}

.inputItem{
  display: inline-block;
  margin-left: 20px;
}

.inputPx{
  color: #999;
  font-size: 10px;
  width: 60px;
}

.buttonMargin{
  margin-left: 8px;
}

.drawerDialog{
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-left: 36px;
}

.actionItem{
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.itemFlow{
  cursor: pointer;
  margin-bottom: 8px;
}

.itemFlow:hover .itemFlowClose{
  display: inline-block;
}

.itemFlow:hover{
  color: #1890FF;
  width: 100%;
}

.itemFlowClose{
  display: none;
  color: #F5222D;
  margin-left: 8px;
  width: 10px;
  height: 32px;
  line-height: 32px;
  margin-left: 8px;
}

.itemFlowName{
  display: inline-block;
  width: 190px;
  line-height: 22px;
}

.action{
  position: fixed;
  top:14px;
  right: 28px;

  font-size: 14px;
  cursor: pointer;
}

.spin{
  position: absolute;
  margin: 0 auto;
  top: 40%; /*偏移*/
}

.menu{
  display: inline-block;
  margin-left: 100px;
}

.FlowItemModalTips{
  margin-top: 20px;
}

.FlowItem{
  position: absolute;
  right: -8px;
  z-index: 9999;
}
.ant-menu-inline{
  border-right:0!important;
}